/* Container de Contato */
.contact-container {
    width: 100%;
    max-width: 900px;
    background-color: #202225;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    margin-top: 20px;
}

.contact-title-left {
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
    margin-bottom: 10px;
    text-align: left;
}

.contact-paragraph {
    font-size: 1rem;
    color: #b9bbbe;
    margin-bottom: 20px;
    line-height: 1.5;
}

.custom-button {
    background-color: #202225;
    width: 10rem;
    height: 2.5rem;
    border-radius: 0.3rem;
    position: relative;
    color: #5865f2;
    font-size: 1.25rem;
    font-weight: 600;
    border: 2px solid #5865f2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
    transition: all 0.3s ease;
    text-decoration: none;
}

.custom-button:hover .custom-button-icon {
    width: 100%;
}

.custom-button-icon {
    background-color: #5865f2;
    height: 2.3rem;
    width: 25%;
    display: grid;
    place-items: center;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    transition: width 0.5s ease;
}

.button-text {
    transform: translateX(1rem);
    z-index: 1;
}
