.container {
    display: flex;
    flex-direction: row;
    background-color: #202225;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    max-width: 900px;
    padding: 30px;
    gap: 30px;
    margin-bottom: 20px;
    justify-content: center;
}

.card-img img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 15px;
}

.card-description {
    font-size: 1.1rem;
    color: #b9bbbe;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    gap: 15px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
    }
    .card-img img {
        width: 250px;
        height: 250px;
    }
    .card-title {
        font-size: 1.5rem;
    }
    .card-description {
        font-size: 1rem;
        width: 350px;
    }
    .button-container {
        justify-content: center;
    }
}