/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  background-color: #2f3136;
  color: #fff;
}

/* Responsividade */
@media (max-width: 768px) {
  .button-container {
    display: flex;
    align-items: center;
    gap: 0;
    margin-left: 15%;
  }

  .language-switcher button {
    margin-left: 5px;
  }
}
